# We DO NOT specify torch or torchvision. We will use Kaggle's native versions.

# -------------------------------
# Hugging Face Ecosystem & GPU
# -------------------------------
diffusers==0.27.2
transformers==4.40.1
accelerate==0.29.3
xformers==0.0.23.post1

# -------------------------------
# Image Processing & UI
# -------------------------------
opencv-python-headless
Pillow
gradio==4.29.0

# -------------------------------
# Experiment Tracking
# -------------------------------
wandb